extends layout

block content
  input(type='text', id='playlistId', size=60, value='PLE3D27C2A39086E73')
  input(type='button', value='Show videos on map', onclick="plotVideos($('#playlistId').val())")
  #videomap-canvas(style='width: 100%; height: 100%')