html,
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
a {
  color: #00b7ff;
}
#videomap-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
